
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



.mid-container{
height: 40vw;
/* background-color: red; */
}

.heading{
    font-family: 'popins',sans-serif;
    /* background-color: red; */
    width: 45vh;
    /* align-items: center; */
    display: flex;
    margin: auto;
    justify-content: center;
    padding: 15px;
font-size: 30px;
color: rgb(141, 226, 43);
}
.img-section{
    display: flex;
    margin-top: 70px;
    justify-content: center;

}
.img-section div{
    padding: 30px;
}
.img-section div .text{
    color: rgb(187, 125, 245);
    justify-content: center;
    display: flex;
    padding: 10px;
    font-size: larger;   

}

  .colorChanger img {
    transform: rotateX(70deg) rotateZ(-60deg) translate3d(-120px, 0px, 70px);
    box-shadow: -80px 60px 15px 5px rgba(188, 14, 231, 0.4);
    transition: all .4s;
    transform-style: preserve-3d;

  }
  .colorChanger:hover img {
    transform: rotateX(0deg) rotateZ(0deg) translate3d(0px, 0px, 0px);
    box-shadow: 0px 0px 0px 0px rgba(237, 8, 8, 0);
  } 
  
.img-section div img{
    height: 300px;
    width: 300px;
    margin-left: 60px;
    border: 2px solid black;
    border-radius: 10px;
    margin: auto;

}


@media (min-width:300px) and (max-width:750px)
{
  .img-section{
    display: flex;
    flex-direction: column;
    
  
  }
  
    .img-section div img{
      height: 120px;
      width: 120px;
      /* margin-left: 60px; */
      border: 2px solid black;
      border-radius: 10px;
      /* margin: auto; */
      
      
    }
    .colorChanger{
      display: flex;
      flex-direction: column;
      /* margin: ; */
      justify-content: center;
      align-items: center;
    }
    .footer{
      
      margin-top: 800px;
      height: 200px;
    }
    .colorChanger img {
      transform: rotateX(70deg) rotateZ(-60deg) translate3d(-123px, 0px, 30px);
      box-shadow: -80px 60px 15px 5px rgba(188, 14, 231, 0.4);
      transition: all .4s;
      transform-style: preserve-3d;
  
    }
    .colorChanger:hover img {
      transform: rotateX(0deg) rotateZ(0deg) translate3d(0px, 0px, 0px);
      box-shadow: 0px 0px 0px 0px rgba(237, 8, 8, 0);
    } 
  
  
  }
  
